* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.topo {
  width: 100vw;
  height: 50px;
  background-color: #233364;
}
 
.quadro {
  width: 90vw;
  height: auto;
  background-color: #9f6f37;
  max-width: 1000px;
  min-height: 200px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
 
.bo {
  width: 42vw;
  height: 42px;
  background-color: #233364;
  border-radius: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mag {
  width: 10vw;
  height: auto;
}
 
.bo:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
 

